button{

    width: 50px;
    height: 40px;
    margin-top: 20px;
    font-family: fantasy;
    background-color: brown;
    border-radius: 10px;
    color: white;
}

#result{
    width: 300px;
    height: 40px;
    margin-top: 20px;
}

body{
    background-color: yellowgreen;
}

h1{
    font-family: fantasy;
}